#root,
html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.app {
    height: 100%;
}

.app .routes {
    overflow-y: auto;
}

.content {
    padding-top: 60px;
    height: 100%;
    display: flex;
    justify-content: center;
}

.blur-bg {
    --blurAmount: 5px;
    filter: blur(var(--blurAmount));
    -webkit-filter: blur(var(--blurAmount));
    -moz-filter: blur(var(--blurAmount));
    -o-filter: blur(var(--blurAmount));
    -ms-filter: blur(var(--blurAmount));
    transform: scale(1.1);
}
